
<suite name="Suite">
  <test thread-count="5" name="Test">
  
    <classes>
      <class name="com.hubspot.test.FormsPageTest"/>
      <class name="com.hubspot.test.MarketingPageTest"/>
      <class name="com.hubspot.test.LoginPageTest"/>
      <class name="com.hubspot.test.SearchResultPageTest"/>  
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
